body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #f4f4f4;
  padding: 40px;
}

.product-box {
  border: 1px solid #000;
  background-color: white;
  max-width: 400px;
  margin: auto;
  position: relative;
  padding: 20px;
}

.sale-tag {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.product-title {
  text-align: center;
  margin-bottom: 5px;
}

.product-content {
  display: flex;
  gap: 20px;
  align right:10px;
}

.product-image {
  width: 200px;
  height: 100px;
}

.product-info {
  flex: 1;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  align-items: center;
}

.free-shipping {
  font-size: 0.8em;
  color: gray;
  margin-left: 5px;
}

.description {
  margin: 10px 0;
}

.colors {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.color {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.details {
  margin: 15px 0;
  padding-left: 20px;
}

.add-to-cart {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
}

.add-to-cart:hover {
  background: #333;
}